:root {
	--navy: #1d3557;
	--slate: #457b9d;
	--lightblue: #a8dadc;
	--white: #f1faee;
	--red: #e63946;
}
.app {
	background-color: var(--lightblue);
	height: 100vh;
	margin: 0;
	padding: 0.2rem 1rem 1rem 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.app h1 {
	color: var(--red);
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
	padding: 0;
}

.container {
	max-height: 80vh;
	min-width: 400px;
	max-width: 500px;
	margin: 2rem auto 0.5rem auto;
	padding: 1rem;
	background-color: var(--navy);
	box-shadow: 0px 0px 6px 2px;
}

.display {
	display: flex;
	flex-direction: column;
	text-align: right;
	height: 12vh;
	line-height: 6vh;
	padding: 16px 8px;
	font-weight: 600;
	background-color: var(--white);
	margin-bottom: 0.5rem;
}
.calc {
	font-size: 1.5rem;
	line-height: 4vh;
	color: gray;
	user-select: none;
}
.input {
	line-height: 8vh;
	user-select: none;
	font-size: 2.75rem;
}

.buttons {
	display: grid;
	gap: 0.5rem;
	max-width: 100%;
	max-height: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.buttons > div {
	border-top: 1px solid #999;
	border-right: 1px solid #999;
}

.button {
	border-radius: 0.33rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.5px solid #999;
	line-height: 3.3rem;
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
	color: var(--white);
	cursor: pointer;
	background-color: var(--slate);
	user-select: none;
}
.equal {
	font-weight: 700;
	font-size: 4rem;
	line-height: 1vh;
	padding-bottom: 15px;
}

.button:hover {
	opacity: 0.7;
}

.button:active {
	background-color: var(--blue);
}

#equal {
	background-color: var(--pink);
}
